<login-checker (userLoggedIn)="logincheck($event)" [nav_bar]="true"></login-checker>
<alert [showAlert]="showAlert" [success]="success" [error]="error" [message]="message" ></alert>
<div *ngIf="!course" class="loader">
    <mat-spinner></mat-spinner>
  </div>
<div class="main" *ngIf="course">
    <div class="heading_box">
        <div class="headingIcon">
            <h2>{{course.Course_name | uppercase}}</h2>
            <ng-container *ngIf="logged">
                
            </ng-container>
        </div>
        <div class="course_details">
            <p>{{course.Course_Code}} | {{course.School}}</p>
        </div>
    </div>
    <div class="body">
        <div class="resource_list">
            <div class="resoruce_button">
                <button [ngClass]="{'active':currentUrl==='LectureNotes'}" (click)="navigate('LectureNotes')">Lecture Notes</button>
                <button [ngClass]="{'active':currentUrl==='Assignments'}" (click)="navigate('Assignments')">Assignments</button>
                <button [ngClass]="{'active':currentUrl==='StudentNotes'}" (click)="navigate('StudentNotes')">Student Notes</button>
                <button [ngClass]="{'active':currentUrl==='PastProjects'}" (click)="navigate('PastProjects')">Past Projects</button>
                <button [ngClass]="{'active':currentUrl==='Exam'}" (click)="navigate('Examinations')">Examinations</button>
            </div>
        </div>
        <div class="content">
            <div class="heading">
                    <h4>
                        {{title}}
                    </h4>
                    <mat-icon (click)="openPopUp()" *ngIf="login">note_add</mat-icon>
            </div>
            <div *ngIf="!resources" class="loader">
                <mat-spinner></mat-spinner>
              </div>
            <div *ngIf="resources.length==0">
                No resources available RIGHT NOW
            </div>
            <div class="resource" *ngFor="let resource of resources;let i = index" >
                <div class="icon_text" (click)="openPDF()">
                    <mat-icon>book</mat-icon>
                    <h6>
                        {{resource.Material_Description}}
                    </h6>
                </div>
                <mat-icon (click)="download(i)"> download     </mat-icon>
            </div>
        </div>
    </div>
</div>
<div class="popup" [ngClass]="{ 'show': popup }">
   
    <div class="popupContent" >
        <div class="close_heading">
            <mat-icon class="close-btn" (click)="close()">
                close
            </mat-icon>
            <h3>Add New {{resourceType}}</h3>
        </div>
        <form #f="ngForm"  (ngSubmit)="submit(f)">
            <label for="lecture-title">{{resourceType}} Title:</label>
            <input type="text" ngModel name="material_description" id="lecture-title" placeholder="Enter lecture title" required>
            <label for="lecture-file">Upload File:</label>
            <input type="file" 
            (change)="onFileChange($event)" 
            id="lecture-file" 
            required >
            <button type="submit" class="submit-btn" >Add Lecture</button>
        </form>
    </div>
    
</div>