<div *ngIf="!course" class="loader">
    <mat-spinner></mat-spinner>
  </div>
  
<div class="main" *ngIf="course">
    <div class="heading_box">
        <div class="headingIcon">
            <h2>{{course.Course_name | uppercase}}</h2>
            <ng-container *ngIf="logged">
                <mat-icon *ngIf="!bookmarked" class="bookmark" (click)="bookmark()">bookmark</mat-icon>
                <mat-icon *ngIf="bookmarked" class="bookmark" (click)="bookmark()">bookmark_added</mat-icon>
            </ng-container>
        </div>
        <div class="course_details">
            <p>{{course.Course_Code}} | {{course.School}}</p>
        </div>
    </div>
    <div class="body">
        <div class="resource_list">
            <div class="resoruce_button">
                <button (click)="navigate('LectureNotes')">Lecture Notes</button>
                <button (click)="navigate('Assignments')">Assignments</button>
                <button (click)="navigate('StudentNotes')">Student Notes</button>
                <button (click)="navigate('PastProjects')">Past Projects</button>
                <button (click)="navigate('Examinations')">Examinations</button>
            </div>
        </div>
        <div class="content">
            <div class="courseOutline">
                <div>
                    <h4>
                        COURSE DESCRIPTION
                    </h4>
                    <p>
                        {{course.Course_description}}
                    </p>
                </div>
                <div class="button">
                    <button *ngIf="course.Course_Outline" class="outline" (click)="downloadPdf()">
                        Download Course Outline
                    </button> 
                    <button *ngIf="!course.Course_Outline" class="outline" disabled>
                        No course outline available
                    </button>
                </div>
            </div>
            <div class="dropdown">
                <div class="topicIcon">
                    <h4>
                        Topics 
                    </h4>
                    <mat-icon *ngIf="show" (click)="show=!show">arrow_drop_down</mat-icon>
                    <mat-icon *ngIf="!show" (click)="show=!show">arrow_drop_up</mat-icon>
                </div>
                <div *ngIf="show" class="dropdown-content">
                    <p *ngFor="let topic of course.Topics" >{{topic}}</p>
                </div>
            </div>
            <div class="courseInstructor">
                <h4>Course Instructor</h4>
                <p>
                    {{course.Instructor_name}}
                </p>
            </div>
        </div>
    </div>
</div>