<login-checker (userLoggedIn)="logincheck($event)" [nav_bar]="true"></login-checker>
<div class="my-nav">
    <nav>  
        <div>
            <img src="assets/imgs/nav_bar/iba_logo.png" width="100%">
        </div>
        <div class="title">
            <ul>
                <li><a [ngClass]="{'active':currentUrl=='/'}" [ngStyle]="{'pointer-events':currentUrl=='/' ? 'none':'auto'}" href="" ><h6>Home</h6></a></li>
                <!-- <div class="dropdown">
                       
                        <li><a [ngClass]="{'active':currentUrl=='/topics'}" [ngStyle]="{'pointer-events':currentUrl=='/topics' ? 'none':'auto'}" href="Request" ><div class="text_icon"><h6>Topics</h6><mat-icon>arrow_drop_down</mat-icon></div></a>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                          </div>
                    </li>
                </div> -->
                <div class="dropdown">
                       
                    <li><a [ngClass]="{'active':currentUrl=='/program'}" [ngStyle]="{'pointer-events':currentUrl=='/program' ? 'none':'auto'}" href="#" ><div class="text_icon"><h6>Program</h6><mat-icon>arrow_drop_down</mat-icon></div></a>
                    <div class="dropdown-content">
                        <a href="program/BSCS">BSCS</a>
                        <a href="program/BBA">BBA</a>
                        <a href="program/BSECO">BSECO</a>
                        <a href="program/BSAF">BSAF</a>
                        <a href="program/BSEM">BSEM</a>
                        <a href="program/BSSS">BSSS</a>
                        <a href="program/BSMath">BSMath</a>  
                        <a href="program/BSECO&Math">BSECO&Math</a>  
                      </div>
                </li>
            </div>
                <li><a [ngClass]="{'active':currentUrl=='/explore'}" [ngStyle]="{'pointer-events':currentUrl=='/explore' ? 'none':'auto'}" href="explore" ><h6>Explore</h6></a></li>
                <li *ngIf="login"><a [ngClass]="{'active':currentUrl=='/bookmark'}" [ngStyle]="{'pointer-events':currentUrl=='/bookmark' ? 'none':'auto'}" href="bookmark" ><h6>Bookmarked</h6></a></li>
            </ul>
        </div>
        <div class="nav-item">
            <ul *ngIf="!login;else logged">
                <li><a [ngClass]="{'active':currentUrl=='/signIn'}" [ngStyle]="{'pointer-events':currentUrl=='/signIn' ? 'none':'auto'}" href="SignIn" ><h6>Sign In</h6></a></li>
                <li><a [ngClass]="{'active':currentUrl=='/signUp'}" [ngStyle]="{'pointer-events':currentUrl=='/signUp' ? 'none':'auto'}" href="SignUp" ><h6>Sign Up</h6></a></li>
            </ul>
            <ng-template #logged>
                <ul>
                    <!-- <li><a [ngClass]="{'active':currentUrl=='/profile'}" [ngStyle]="{'pointer-events':currentUrl=='/profile' ? 'none':'auto'}" href="logged/home"  ><h6>Profile</h6></a></li> -->
                    <li> <button class="logOut" mat-icon-button (click)="signOut()">
                        <!-- <h6>Logout</h6> -->
                        <mat-icon>logout</mat-icon>
                      </button>
                    </li>
                </ul>
            </ng-template>
        </div>
        
      </nav>
</div>
<div class="spacer"></div>
