<alert [showAlert]="showAlert" [success]="success" [error]="error" [message]="message" ></alert>
<div *ngIf="!materials">
  <mat-spinner></mat-spinner>
</div>
  <div class="container" *ngIf="materials">
    <h1>Resource Manager </h1>
    <div class="toolbar">
      <button class="btn approve-selected" (click)="approve()">Approve Selected</button>
      <input type="text" class="search-bar" placeholder="Search Resources..." />
    </div>
    <table class="resource-table">
      <thead>
        <tr>
          <th>
            <input type="checkbox" id="select-all" [(ngModel)]="selectAllChecked" (change)="toggleSelectAll()" />
          </th>
          <div class="bar-text">
            <th>Resource</th>
            <th>Submitted By</th>
            <th>Course</th>
            <th>Actions</th>
          </div>
        </tr>
      </thead>
      <tbody class="requests" *ngFor="let material of materials;let i = index">
        <tr>
          <td>
            <input type="checkbox"  [(ngModel)]="selectedMaterials[i]"/>
          </td>
          <td>
            {{material.Material_Description}}
          </td>
          <td>{{material.Course_name}}</td>
          <td class="actions">
            <button class="icon-btn approve"><span>&#10003;</span></button>
            <button class="icon-btn reject"><span>&#10005;</span></button>
            <button class="icon-btn download"><span>&#128190;</span></button>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
