/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
h1,h2,h3,h4,h5,h6,p,a,button
{
  font-family: 'Poppins', sans-serif !important;
  margin: 0!important;
}
body { margin: 0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 }

.pac-container {
    width: 26.04vw !important;
  }
  