<div *ngIf="!courses" class="loader">
    <mat-spinner></mat-spinner>
  </div>
  <div class="main" *ngIf="courses">
      <div class="image">
          <img src="assets/imgs/HomePage/iba_building.jpg" alt="" >
          <!-- <div class="overlay-input">
              <p class="overlay-text">"Access free lecture notes, exams, past resources, and videos from IBA courses. Discover in-depth material across various subjects, guided by expert instructors." </p>
              <div class="input-group">
                  <input type="text" placeholder="Enter text here" class="input_field">
                  <mat-icon class="menu">menu</mat-icon>
                  <mat-icon class="search">search</mat-icon>
              </div>
          </div> -->
      </div>
      <div class="body">
        <div class="searchButton">
          <mat-form-field appearance="outline">
              <input
                type="text"
                matInput
                [(ngModel)]="selectedCourseName"
                [matAutocomplete]="auto"
                [formControl]="myControl"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayFn"
                (optionSelected)="onOptionSelected($event)"
              >
                <mat-option
                  *ngFor="let option of filteredOptions | async;let i = index" [value]="option"
                  [value]="option"
                >
                  {{ option.Course_name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          <button (click)="search()" >Search</button>
        </div>
          <h2 *ngIf="!searchString">{{title}}</h2>
          <h2 *ngIf="searchString">Result({{courses.length}})</h2>
          <div class="course-list" >
              <div class="card" *ngFor="let course of courses; let i = index" (click)="navigate(i)">
                  <img [src]=course.Course_image alt="Avatar" style="width:100%; height:50% ">
                  <div class="container">
                    <h6>{{course.Course_name | uppercase }}</h6> 
                    <div class="program_year">
                        <p class="code">{{course.Course_Code}}</p>
                        <p>{{course.Semester_Year}}</p> 
                    </div>
                    <p class="school">{{course.School}}</p>
                  </div>
              </div>
              <!-- <div class="card">
                  <img src="assets/imgs/HomePage/Database.png" alt="Avatar" style="width:100%">
                  <div class="container">
                    <h6>DATABASE MANAGEMENT SYSTEM</h6> 
                    <p class="code">CS702</p>
                    <p>IBA SCHOOL OF MATHEMATICS AND COMPUTER SCIENCE</p> 
                  </div>
              </div> -->
          </div>
      </div>
  </div>