<div class="main">
    <div class="image">
        <img src="assets/imgs/HomePage/iba_building.jpg" alt="" >
        <div class="overlay-input">
            <p class="overlay-text">"Access free lecture notes, exams, past resources, and videos from IBA courses. Discover in-depth material across various subjects, guided by expert instructors." </p>
            <div class="input-group">
                <input type="text" placeholder="Enter text here" class="input_field">
                <mat-icon class="menu">menu</mat-icon>
                <mat-icon class="search">search</mat-icon>
            </div>
        </div>
    </div>
    <div class="body">
        <h2>Popular Courses</h2>
        <div class="course-list">
            <div class="card">
                <img src="assets/imgs/HomePage/Database.png" alt="Avatar" style="width:100%">
                <div class="container">
                  <h6>DATABASE MANAGEMENT SYSTEM</h6> 
                  <p class="code">CS702</p>
                  <p>IBA SCHOOL OF MATHEMATICS AND COMPUTER SCIENCE</p> 
                </div>
            </div>
            <div class="card">
                <img src="assets/imgs/HomePage/Database.png" alt="Avatar" style="width:100%">
                <div class="container">
                  <h6>DATABASE MANAGEMENT SYSTEM</h6> 
                  <p class="code">CS702</p>
                  <p>IBA SCHOOL OF MATHEMATICS AND COMPUTER SCIENCE</p> 
                </div>
            </div>
        </div>
    </div>
</div>