
.foot h1,h2,h3,h4,h5,h6,p
{
    font-family: 'Poppins', sans-serif;
}

h6{
    font-weight: 600;
    margin-bottom: 0.4vw;
}

p{
    font-size: 0.86vw;
}
.text
{
color: white;
}
.foot{
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    border-top: solid 0.2vw #b1101b25;
    background-color: #5C272D;
    /* display: flex;
    flex-direction: column;
    gap: 0vw;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw; */
}
.text
{
    display: flex;
    width: 40%;
    gap: 1.2vw;
    flex-direction: column;
}
.up
{
    text-align: justify;
}
.img_container
{
    display: flex;
    align-items: center;   
}
img
{
    width: 7vw;
}