<div class = foot>
    <div class="text">
        <div class="up">
            <p>
                IBA CourseArchieve is an online publication of materials from over 200 IBA courses, freely sharing knowledge with learners and educators around the world.
            </p>
        </div>
        <div>
            Copyright © 2024. - © Institute of Business Administration Karachi All rights reserved.
        </div>
    </div>
    <div class="img_container">
          <img src="https://upload.wikimedia.org/wikipedia/en/1/1e/Institute_of_Business_Administration%2C_Karachi_%28logo%29.png"  [style.height.%]="'auto'" alt="">  
    </div>
</div>
