
<form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="formStyle">
        <div class="signup"  *ngFor="let element of form; let i = index" [ngStyle]="{'width':element.width}">
            <ng-container *ngIf="element.type === 'input'">
                <label>{{ element.label }}</label>
                <mat-form-field appearance="outline">
                    <input
                    matInput
                    type="{{element.input_type}}"
                    ngModel
                    name="{{ element.name }}"
                    class="input-control"
                    placeholder="{{element.placeholder}}"
                  />
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="element.type === 'select'">
                <label>{{ element.label }}</label>
                <mat-form-field appearance="outline">
                    <mat-select ngModel name="{{element.name}}">
                        <mat-option *ngFor="let option of element.options" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="element.type === 'textarea'">
                <label>{{element.label}}</label>
                <mat-form-field appearance="outline">
                    <textarea  matInput ngModel name="{{element.name}}" placeholder="{{element.placeholder}}" ></textarea>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="element.type === 'fileUpload'">
            <label for="lecture-file">Upload File:</label>
            <input type="file" 
            (change)="onFileChange($event)" 
            id="lecture-file" 
            required >
            </ng-container>
        </div>
    </div>
    <button class="createButton">Submit</button>
</form>